body {
	font-size: 1.1em !important;
}
html, #body, body, .content {
	min-height: 100vh !important;
	min-width: 100% !important;
	background-attachment: fixed;
}
*{
  transition-duration: 0.2s;
}
.hidden {
  transition-duration: 0.2s;
  opacity: 0;
	pointer-events: none;
	visibility: collapse;
	position: fixed;
}
.tiny-button.hidden {
	position: static;
}
nav {
	position: absolute;
	padding: 1em;
	z-index: 8;
	display: flex;
	width: 100%;
  justify-content: space-between;
  overflow: hidden;
}
#top-nav {
	top:0;
}
#bottom-nav {
	bottom:0;
}
#after-nav{
	display: flex;
	width: 10em;
  justify-content: space-between;
}
.tiny-button {
	height: 4em;
	width: 4em;
}
.tiny-button>.tiny-icon>* {
	width: 100%;
	height: 100%;
	transition-duration: 0.2s;
}
.tiny-button:hover>.tiny-icon>* {
	transform: scale(1.2) rotateZ(380deg);
}

.tiny-button:active>.tiny-icon>* {
	transform: scale(0.8) rotateZ(0deg);
}
h1 {
	color: plum;
}
#accueil {
	position: fixed;
	display: flex;
	top:0;
  left:0;
	margin: auto;
	padding: auto;
	width: 100%;
	height: 100%;
	background-color: Lavender;
}

.matiere-wheel {
	position: relative;
	margin: auto;
	padding: auto;
}

.matiere {
	width: 7em;
	height: 7em;
	--matiere-half-size: -3.5em;
	--matiere-spacing: 15em;
	position: absolute;
	border-radius: 100%;
	border:0.5em solid;
	transition-duration: 0.2s;
	cursor: pointer;
	z-index: 0;
	display: flex;
}
.matiere:hover {
	width: 8em;
	height: 8em;
	--matiere-half-size: -4em;
	transform: rotateZ(380deg);
}

.matiere:active {
	width: 7em;
	height: 7em;
	--matiere-half-size: -3.5em;
	transition-duration: 0.1s;
}

.matiere:active+.matiere-title {
	--matiere-title-offset: -0em;
}

.matiere>*{
	display: flex;
	margin: auto;

	width: 100%;
	height: 100%;
}

.tiny-icon>* {
	margin: auto;
	width: 75%;
	height: 75%;
}

.tiny-button>.tiny-icon {
	width: 100%;
	height: 100%;
}
#geographie>.tiny-icon>* {
	width: 90%;
	height: 90%;
}
#anglais>.tiny-icon>* {
	width: 100%;
	height: 100%;
}
.matiere-title {
	width: 10em;
	text-align: center;
	position: absolute;
	--matiere-half-size: -5em;
	opacity: 0%;
	transition-duration: 0.2s;
	--matiere-title-offset: -1em;
	--matiere-spacing: 15em;
	z-index: 2;
	pointer-events: none;
}
#toile-moyenne {
	position: absolute;
	--size:22em;
	height: var(--size) !important;
	width: var(--size) !important;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
	transition-duration: 0.2s;
}

@media (width < 1200px) {
  .matiere, .matiere-title {
	--matiere-spacing: 12em;
  }
  #toile-moyenne {
  	--size: 17em;
  }
}
@media (width > 2000px) {
  .matiere, .matiere-title {
	--matiere-spacing: 15em;
  }
  body {
  	font-size: 1.5em !important;
  }
}

.matiere:hover+.matiere-title {
	opacity: 100%;
}
.matiere-title>*{
	margin-right: -100%;
	margin-left: -100%;
	margin-top: 0px;
	margin-bottom: 0px;
	user-select: none;
}
#general {
	top: var(--matiere-half-size);
	left: var(--matiere-half-size);
}
#francais {
	left: calc(var(--matiere-half-size));
	top: calc(var(--matiere-half-size) - var(--matiere-spacing));
	border-color: DodgerBlue;
	color: DodgerBlue;
	background-color: LightSkyBlue;
}
#mathematiques {
	left: calc(var(--matiere-half-size) + 0.59*var(--matiere-spacing));
	top: calc(var(--matiere-half-size) - 0.81*var(--matiere-spacing));
	border-color: crimson;
	color: crimson;
	background-color: LightCoral;
}
#EMC {
	left: calc(var(--matiere-half-size) + 0.95*var(--matiere-spacing));
	top: calc(var(--matiere-half-size) - 0.31*var(--matiere-spacing));
	border-color: BurlyWood;
	color: BurlyWood;
	background-color: bisque;
}
#anglais {
	left: calc(var(--matiere-half-size) + 0.95*var(--matiere-spacing));
	top: calc(var(--matiere-half-size) + 0.31*var(--matiere-spacing));
	border-color: DimGray;
	color: DimGray;
	background-color: Silver;
}
#art {
	left: calc(var(--matiere-half-size) + 0.59*var(--matiere-spacing));
	top: calc(var(--matiere-half-size) + 0.81*var(--matiere-spacing));
	border-color: RebeccaPurple;
	color: RebeccaPurple;
	background-color: MediumOrchid;
}
#musique {
	left: calc(var(--matiere-half-size));
	top: calc(var(--matiere-half-size) + var(--matiere-spacing));
	border-color: DeepPink;
	color: DeepPink;
	background-color: HotPink;
}
#EPS {
	left: calc(var(--matiere-half-size) - 0.59*var(--matiere-spacing));
	top: calc(var(--matiere-half-size) + 0.81*var(--matiere-spacing));
	border-color: sienna;
	color: sienna;
	background-color: Peru;
}
#histoire {
	left: calc(var(--matiere-half-size) - 0.95*var(--matiere-spacing));
	top: calc(var(--matiere-half-size) + 0.31*var(--matiere-spacing));
	border-color: Gold;
	color: Gold;
	background-color: Yellow;
}
#geographie {
	left: calc(var(--matiere-half-size) - 0.95*var(--matiere-spacing));
	top: calc(var(--matiere-half-size) - 0.31*var(--matiere-spacing));
	border-color: Tomato;
	color: Tomato;
	background-color: Orange;
}
#sciences {
	left: calc(var(--matiere-half-size) - 0.59*var(--matiere-spacing));
	top: calc(var(--matiere-half-size) - 0.81*var(--matiere-spacing));
	border-color: Green;
	color: Green;
	background-color: LimeGreen;
}
#general:active {
	background-color: white;
}
#francais:active {
	border-color: DodgerBlue;
	color: DodgerBlue;
	background-color: LightCyan;
}
#mathematiques:active {
	border-color: crimson;
	color: crimson;
	background-color: MistyRose;
}
#EMC:active {
	border-color: BurlyWood;
	color: BurlyWood;
	background-color: Snow;
}
#anglais:active {
	border-color: DimGray;
	color: DimGray;
	background-color: Gainsboro;
}
#art:active {
	border-color: RebeccaPurple;
	color: RebeccaPurple;
	background-color: Thistle;
}
#musique:active {	border-color: DeepPink;
	color: DeepPink;
	background-color: Pink;
}
#EPS:active {
	border-color: sienna;
	color: sienna;
	background-color: Tan;
}
#histoire:active {
	border-color: Gold;
	color: Gold;
	background-color: LemonChiffon;
}
#geographie:active {
	border-color: Tomato;
	color: Tomato;
	background-color: PeachPuff;
}
#sciences:active {
	border-color: Green;
	color: Green;
	background-color: PaleGreen;
}

#general+.matiere-title {
	top: calc(var(--matiere-half-size) + var(--matiere-title-offset));
	left: calc(var(--matiere-half-size));
}
#francais+.matiere-title {
	left: calc(var(--matiere-half-size));
	top: calc(var(--matiere-half-size) - var(--matiere-spacing) + var(--matiere-title-offset));
}
#mathematiques+.matiere-title {
	left: calc(var(--matiere-half-size) + 0.59*var(--matiere-spacing));
	top: calc(var(--matiere-half-size) - 0.81*var(--matiere-spacing) + var(--matiere-title-offset));
}
#EMC+.matiere-title {
	left: calc(var(--matiere-half-size) + 0.95*var(--matiere-spacing));
	top: calc(var(--matiere-half-size) - 0.31*var(--matiere-spacing) + var(--matiere-title-offset));
}
#anglais+.matiere-title {
	left: calc(var(--matiere-half-size) + 0.95*var(--matiere-spacing));
	top: calc(var(--matiere-half-size) + 0.31*var(--matiere-spacing) + var(--matiere-title-offset));
}
#art+.matiere-title {
	left: calc(var(--matiere-half-size) + 0.59*var(--matiere-spacing));
	top: calc(var(--matiere-half-size) + 0.81*var(--matiere-spacing) + var(--matiere-title-offset));
}
#musique+.matiere-title {
	left: calc(var(--matiere-half-size));
	top: calc(var(--matiere-half-size) + var(--matiere-spacing) + var(--matiere-title-offset));
}
#EPS+.matiere-title {
	left: calc(var(--matiere-half-size) - 0.59*var(--matiere-spacing));
	top: calc(var(--matiere-half-size) + 0.81*var(--matiere-spacing) + var(--matiere-title-offset));
}
#histoire+.matiere-title {
	left: calc(var(--matiere-half-size) - 0.95*var(--matiere-spacing));
	top: calc(var(--matiere-half-size) + 0.31*var(--matiere-spacing) + var(--matiere-title-offset));
}
#geographie+.matiere-title {
	left: calc(var(--matiere-half-size) - 0.95*var(--matiere-spacing));
	top: calc(var(--matiere-half-size) - 0.31*var(--matiere-spacing) + var(--matiere-title-offset));
}
#sciences+.matiere-title {
	left: calc(var(--matiere-half-size) - 0.59*var(--matiere-spacing));
	top: calc(var(--matiere-half-size) - 0.81*var(--matiere-spacing) + var(--matiere-title-offset));
}

.general {
	background-color: white;
}
.francais {
	background-color: PaleTurquoise;
}
.mathematiques {
	background-color: MistyRose;
}
.EMC {
	background-color: bisque;
}
.anglais {
	background-color: Gainsboro;
}
.art {
	background-color: Thistle;
}
.musique {
	background-color: Pink;
}
.EPS {
	background-color: Tan;
}
.histoire {
	background-color: LemonChiffon;
}
.geographie {
	background-color: PeachPuff;
}
.sciences {
	background-color: PaleGreen;
}