h1,h2,h3,h4 {
	font-family: "Amatic SC", sans-serif;
	font-weight: 700 !important;
}
.right {
	display: flex;
	align-items: flex-end;
	flex-direction: column;
}
.bottom {
	margin-bottom: 0.5em;
}
.form-footer {
	text-align: center;
}
.show-pass {
	position: absolute;
	height: 0;
	width: 0;
}
#change-login-form input, #change-password-form input {
	width: 13.5em;
}
.show-pass svg {
	cursor: pointer;
	color: slategray;
	position: relative;
	height: 1.7em;
	width: 1.7em;
	left: -1.7em;
}
.show-pass svg:hover {
	color: DarkSlateGray;
}
body {
	font-size: 1.1em !important;
	background-color: Cornsilk;
}
.content {
	background-attachment: fixed;
	overflow: hidden;
}
.responsive {
	max-width: 90%;
}
.responsive * {
	width: 100%;
	height: auto;
}
.infobulle {
  position: relative;  /* les .infobulle deviennent référents */
}

/* on génère un élément :after lors du survol et du focus :*/

.infobulle:hover::after,
.infobulle:focus::after {
  content: attr(aria-label);  /* on affiche aria-label */
  position: absolute;
  top: -2.4em;
  left: 50%;
	transform: translateX(-50%); /* on centre horizontalement  */
  z-index: 1; /* pour s'afficher au dessus des éléments en position relative */
  white-space: nowrap;  /* on interdit le retour à la ligne*/
  padding: 5px 14px;
  background: #413219;
  color: #fff;
  border-radius: 4px;
  font-size: 1em;
}

/* on génère un second élément en :before pour la flèche */

[aria-label]:hover:before,
[aria-label]:focus:before {
  content: "▼";
  position: absolute;
  top: -1em;
	left: 50%;
	transform: translateX(-50%); /* on centre horizontalement  */
  font-size: 20px;
  color: #413219;
}

/* pas de contour durant le :focus */
[aria-label]:focus {
  outline: none;
}

.content{
	position: absolute;
	flex-direction: column;
	display: flex;
	top:0;
  left:0;
  bottom: 0;
  right: 0;
}
#eleves{
	overflow: auto;
}
#eleves-tab {
	margin: auto;
}
.lien {
	color: blue;
	text-decoration: underline;
	cursor: pointer;
}
.lien:hover {
	color: DodgerBlue;
}
h1{
	width: 100%;
	margin-top: 0.5em !important;
	text-align: center;
}
.vodka {
	position: absolute;
}
.general .new-note-button {
	display: none;
}
*{
  transition-duration: 0.2s;
}
.neutral {
	display: contents;
}

.button {
	cursor: pointer;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #FFFFFF66 !important;
	text-align: center !important;
  padding: 8px;
}
th {
	background-color: #00000020 !important;
}

tr:nth-child(even) {
  background-color: #FFFFFF66;
}
form, .center{
	display: block !important;
	margin: auto;
	width: auto;
}
.centered{
	text-align: center;
}
label {
	padding-right: 0.3em;
}
.hidden {
  opacity: 0;
	pointer-events: none;
}
.tiny-button.hidden {
	position: static;
}
.page-nav {
	position: fixed;
	padding: 1em;
	z-index: 26;
	display: flex;
	width: 100%;
  justify-content: space-between;
}
.modal {
	position: absolute;
}
#top-nav {
	top:0;
}
#bottom-nav {
	bottom:0;
	width: auto;
}
#feedback {
	position: fixed;
	flex-direction: column;
	bottom: 0;
	right: 0;
	max-width: 75%;
	width: 25em;
	z-index: 6969;
}
#feedback div, .carton {
	text-align: center;
	padding: 0.5em;
	margin: 0.5em;
	border:0.5em solid;
	border-radius: 1em;
	box-shadow: 0em 0em 0.1em 0.1em #00000012;
	transition-duration: 1s;
	transition-property: opacity;
}
.error, .bad, .carton3 {
	border-color: crimson;
	color: crimson;
	background-color: LightCoral;
}
.success, .good, {
	border-color: Green;
	color: Green;
	background-color: LimeGreen;
}
.info {
	border-color: DodgerBlue;
	color: DodgerBlue;
	background-color: LightSkyBlue;
}
.warning, .carton2 {
	border-color: Tomato;
	color: Tomato;
	background-color: Orange;
}
.table-general {
	margin-top: 1em;
}
.carton1 {
	border-color: Gainsboro;
	color: Gray;
	background-color: Snow;
}
.graph canvas {
	height: 20em !important;
}
#after-nav{
	display: flex;
	width: 10em;
  justify-content: space-between;
}
.tiny-button {
	height: 4em;
	width: 4em;
	cursor: pointer;
}
.filter>* {
	height: 1em;
	width: 1em;
	cursor: pointer;
}
.filter:hover>* {
	transform: scale(1.2);
}
.filter.down>* {
	transform: rotateZ(90deg);
}
.filter.down>*:hover {
	transform: rotateZ(90deg) scale(1.2);
}
.filter.up>* {
	transform: rotateZ(-90deg);
}
.filter.up>*:hover {
	transform: rotateZ(-90deg) scale(1.2);
}
.tiny-logo>* {
	height: 1em;
	width: 1em;
}
.tiny-action>* {
	height: 2em;
	width: 2em;
	cursor: pointer;
}
.tiny-action {
	user-select: none;
}
.tiny-logo.bigger {
	display: inline-block;
	max-height: 1em;
	max-width: 1em;
	overflow: visible;
}
.tiny-logo.crayon {
	display: inline-block;
	max-height: 1em;
	max-width: 1em;
	overflow: visible;
}
.tiny-logo.crayon>* {
	width: 1.2em;
	height: 1.2em;
	margin-bottom: 0.4em;
}
.tiny-logo.bigger>* {
	width: 1.5em;
	height: 1.5em;
	margin-bottom: 0.4em;
}
.tiny-button>.tiny-icon>* {
	width: 100%;
	height: 100%;
}
.tiny-button:hover>.tiny-icon>*, .tiny-action:hover>* {
	transform: scale(1.2) rotateZ(380deg);
}

.tiny-button:active>.tiny-icon>*, .tiny-action:active>* {
	transform: scale(0.8) rotateZ(0deg);
}

.tiny-alarm>* {
	height: 2em;
	width: 2em;
	margin-right: 1em;
}
.matiere-wheel {
	position: relative;
	margin: auto;
	padding: auto;
	z-index: 42;
}

.matiere {
	width: 7em;
	height: 7em;
	--matiere-half-size: -3.5em;
	--matiere-spacing: 15em;
	position: absolute;
	border-radius: 100%;
	border:0.5em solid;
	transition-duration: 0.2s;
	cursor: pointer;
	z-index: 0;
	display: flex;
}
.matiere:hover {
	width: 8em;
	height: 8em;
	--matiere-half-size: -4em;
	transform: rotateZ(380deg);
}

.matiere:active {
	width: 7em;
	height: 7em;
	--matiere-half-size: -3.5em;
	transition-duration: 0.1s;
}

.matiere:active+.matiere-title {
	--matiere-title-offset: -0em;
}

.matiere>*{
	display: flex;
	margin: auto;

	width: 100%;
	height: 100%;
}

.tiny-icon>* {
	margin: auto;
	width: 75%;
	height: 75%;
}

.tiny-button>.tiny-icon {
	width: 100%;
	height: 100%;
}
#geographie>.tiny-icon>* {
	width: 90%;
	height: 90%;
}
#anglais>.tiny-icon>* {
	width: 100%;
	height: 100%;
}
.matiere-title {
	width: 10em;
	text-align: center;
	position: absolute;
	--matiere-half-size: -5em;
	opacity: 0%;
	transition-duration: 0.2s;
	--matiere-title-offset: -1em;
	--matiere-spacing: 15em;
	z-index: 2;
	pointer-events: none;
}
#toile-moyenne {
	position: absolute;
	--size:22em;
	height: var(--size) !important;
	width: var(--size) !important;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
	transition-duration: 0.2s;
}

.matiere:hover+.matiere-title {
	opacity: 100%;
}
.matiere-title>*{
	margin-right: -100%;
	margin-left: -100%;
	margin-top: 0px;
	margin-bottom: 0px;
	user-select: none;
}
#general {
	top: var(--matiere-half-size);
	left: var(--matiere-half-size);
}
#francais {
	left: calc(var(--matiere-half-size));
	top: calc(var(--matiere-half-size) - var(--matiere-spacing));
	border-color: DodgerBlue;
	color: DodgerBlue;
	background-color: LightSkyBlue;
}
#mathematiques {
	left: calc(var(--matiere-half-size) + 0.59*var(--matiere-spacing));
	top: calc(var(--matiere-half-size) - 0.81*var(--matiere-spacing));
	border-color: crimson;
	color: crimson;
	background-color: LightCoral;
}
#EMC {
	left: calc(var(--matiere-half-size) + 0.95*var(--matiere-spacing));
	top: calc(var(--matiere-half-size) - 0.31*var(--matiere-spacing));
	border-color: BurlyWood;
	color: BurlyWood;
	background-color: bisque;
}
#anglais {
	left: calc(var(--matiere-half-size) + 0.95*var(--matiere-spacing));
	top: calc(var(--matiere-half-size) + 0.31*var(--matiere-spacing));
	border-color: DimGray;
	color: DimGray;
	background-color: Silver;
}
#art {
	left: calc(var(--matiere-half-size) + 0.59*var(--matiere-spacing));
	top: calc(var(--matiere-half-size) + 0.81*var(--matiere-spacing));
	border-color: RebeccaPurple;
	color: RebeccaPurple;
	background-color: MediumOrchid;
}
#musique {
	left: calc(var(--matiere-half-size));
	top: calc(var(--matiere-half-size) + var(--matiere-spacing));
	border-color: DeepPink;
	color: DeepPink;
	background-color: HotPink;
}
#EPS {
	left: calc(var(--matiere-half-size) - 0.59*var(--matiere-spacing));
	top: calc(var(--matiere-half-size) + 0.81*var(--matiere-spacing));
	border-color: sienna;
	color: sienna;
	background-color: Peru;
}
#histoire {
	left: calc(var(--matiere-half-size) - 0.95*var(--matiere-spacing));
	top: calc(var(--matiere-half-size) + 0.31*var(--matiere-spacing));
	border-color: Gold;
	color: Gold;
	background-color: Yellow;
}
#geographie {
	left: calc(var(--matiere-half-size) - 0.95*var(--matiere-spacing));
	top: calc(var(--matiere-half-size) - 0.31*var(--matiere-spacing));
	border-color: Tomato;
	color: Tomato;
	background-color: Orange;
}
#sciences {
	left: calc(var(--matiere-half-size) - 0.59*var(--matiere-spacing));
	top: calc(var(--matiere-half-size) - 0.81*var(--matiere-spacing));
	border-color: Green;
	color: Green;
	background-color: LimeGreen;
}
#general:active {
	background-color: white;
}
#francais:active {
	border-color: DodgerBlue;
	color: DodgerBlue;
	background-color: LightCyan;
}
#mathematiques:active {
	border-color: crimson;
	color: crimson;
	background-color: MistyRose;
}
#EMC:active {
	border-color: BurlyWood;
	color: BurlyWood;
	background-color: Snow;
}
#anglais:active {
	border-color: DimGray;
	color: DimGray;
	background-color: Gainsboro;
}
#art:active {
	border-color: RebeccaPurple;
	color: RebeccaPurple;
	background-color: Thistle;
}
#musique:active {	border-color: DeepPink;
	color: DeepPink;
	background-color: Pink;
}
#EPS:active {
	border-color: sienna;
	color: sienna;
	background-color: Tan;
}
#histoire:active {
	border-color: Gold;
	color: Gold;
	background-color: LemonChiffon;
}
#geographie:active {
	border-color: Tomato;
	color: Tomato;
	background-color: PeachPuff;
}
#sciences:active {
	border-color: Green;
	color: Green;
	background-color: PaleGreen;
}

#general+.matiere-title {
	top: calc(var(--matiere-half-size) + var(--matiere-title-offset));
	left: calc(var(--matiere-half-size));
}
#francais+.matiere-title {
	left: calc(var(--matiere-half-size));
	top: calc(var(--matiere-half-size) - var(--matiere-spacing) + var(--matiere-title-offset));
}
#mathematiques+.matiere-title {
	left: calc(var(--matiere-half-size) + 0.59*var(--matiere-spacing));
	top: calc(var(--matiere-half-size) - 0.81*var(--matiere-spacing) + var(--matiere-title-offset));
}
#EMC+.matiere-title {
	left: calc(var(--matiere-half-size) + 0.95*var(--matiere-spacing));
	top: calc(var(--matiere-half-size) - 0.31*var(--matiere-spacing) + var(--matiere-title-offset));
}
#anglais+.matiere-title {
	left: calc(var(--matiere-half-size) + 0.95*var(--matiere-spacing));
	top: calc(var(--matiere-half-size) + 0.31*var(--matiere-spacing) + var(--matiere-title-offset));
}
#art+.matiere-title {
	left: calc(var(--matiere-half-size) + 0.59*var(--matiere-spacing));
	top: calc(var(--matiere-half-size) + 0.81*var(--matiere-spacing) + var(--matiere-title-offset));
}
#musique+.matiere-title {
	left: calc(var(--matiere-half-size));
	top: calc(var(--matiere-half-size) + var(--matiere-spacing) + var(--matiere-title-offset));
}
#EPS+.matiere-title {
	left: calc(var(--matiere-half-size) - 0.59*var(--matiere-spacing));
	top: calc(var(--matiere-half-size) + 0.81*var(--matiere-spacing) + var(--matiere-title-offset));
}
#histoire+.matiere-title {
	left: calc(var(--matiere-half-size) - 0.95*var(--matiere-spacing));
	top: calc(var(--matiere-half-size) + 0.31*var(--matiere-spacing) + var(--matiere-title-offset));
}
#geographie+.matiere-title {
	left: calc(var(--matiere-half-size) - 0.95*var(--matiere-spacing));
	top: calc(var(--matiere-half-size) - 0.31*var(--matiere-spacing) + var(--matiere-title-offset));
}
#sciences+.matiere-title {
	left: calc(var(--matiere-half-size) - 0.59*var(--matiere-spacing));
	top: calc(var(--matiere-half-size) - 0.81*var(--matiere-spacing) + var(--matiere-title-offset));
}

.general {
	background-color: white;
}
.francais, .line-francais {
	background-color: PaleTurquoise !important
}
.mathematiques, .line-musique {
	background-color: MistyRose !important
}
.EMC, .line-EMC {
	background-color: bisque !important
}
.anglais, .line-anglais {
	background-color: Gainsboro !important
}
.art, .line-art {
	background-color: Thistle !important
}
.musique, .line-mathematiques {
	background-color: Pink !important
}
.EPS, .line-EPS {
	background-color: Tan !important
}
.histoire, .line-histoire {
	background-color: LemonChiffon !important
}
.geographie, .line-geographie {
	background-color: PeachPuff !important
}
.sciences, .line-sciences {
	background-color: PaleGreen !important
}

.rating {
  border: none;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.rating > label {
  color: Silver;
  margin: 0em;
  padding: 0em;
}

.rating > label:before {
  font-size: 2em;
  font-family: FontAwesome;
  content: "★";
}

.rating > input {
  display: none;
}

.rating > input:checked ~ label,
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: Orange;
}

.rating > input:checked + label:hover,
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label,
.rating > input:checked ~ label:hover ~ label {
  color: Gold;
}

.general .onglet, .general .onglet-content-wrapper {
	background-color: white;
}
.francais .onglet, .francais .onglet-content-wrapper {
	border-color: DodgerBlue;
	background-color: LightSkyBlue;
}
.mathematiques .onglet, .mathematiques .onglet-content-wrapper {
	border-color: crimson;
	background-color: LightCoral;
}
.EMC .onglet, .EMC .onglet-content-wrapper {
	border-color: BurlyWood;
	background-color: bisque;
}
.anglais .onglet, .anglais .onglet-content-wrapper {
	border-color: DimGray;
	background-color: Silver;
}
.art .onglet, .art .onglet-content-wrapper {
	border-color: RebeccaPurple;
	background-color: MediumOrchid;
}
.musique .onglet, .musique .onglet-content-wrapper {
	border-color: DeepPink;
	background-color: HotPink;
}
.EPS .onglet, .EPS .onglet-content-wrapper {
	border-color: sienna;
	background-color: Peru;
}
.histoire .onglet, .histoire .onglet-content-wrapper {
	border-color: Gold;
	background-color: Yellow;
}
.geographie .onglet, .geographie .onglet-content-wrapper {
	border-color: Tomato;
	background-color: Orange;
}
.sciences .onglet, .sciences .onglet-content-wrapper {
	border-color: Green;
	background-color: LimeGreen;
}


.francais .onglet-content {
	scrollbar-color: DodgerBlue LightSkyBlue;
}
.mathematiques  .onglet-content {
	scrollbar-color: crimson LightCoral;
}
.EMC .onglet-content{
	scrollbar-color: BurlyWood bisque;
}
.anglais  .onglet-content {
	scrollbar-color: DimGray Silver;
}
.art  .onglet-content {
	scrollbar-color: RebeccaPurple MediumOrchid;
}
.musique  .onglet-content {
	scrollbar-color: DeepPink HotPink;
}
.EPS  .onglet-content {
	scrollbar-color: sienna Peru;
}
.histoire  .onglet-content {
	scrollbar-color: Gold Yellow;
}
.geographie  .onglet-content {
	scrollbar-color: Tomato Orange;
}
.sciences  .onglet-content {
	scrollbar-color: Green LimeGreen;
}
h1.global {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
}

.onglet-wrapper {
	padding-top: 6em;
	padding-bottom: 4em;
	padding-right: 5em;
	padding-left: 5em;
	width: 100%;
	max-height: 97%;
	display: flex;
	flex-direction: column;

}
.none {
	display: none;
}

.onglet-nav {
	display: flex;
	flex-wrap: wrap;
}

.onglet {
	border-radius: 0.6em 0.6em 0em 0em;
	padding-right: 1em;
	padding-left: 1em;
	padding-bottom: 0.5em;
	border:0.5em solid;
	border-bottom: none;
	z-index: 1;
	cursor: pointer;
	user-select: none;
	bottom: 0;
	margin-bottom: -0.5em;
}

.fake .onglet {
	opacity: 0;
}

.myshadow {
	opacity: 100;
}
.onglet:hover {
	transform: translateY(-0.4em);
}

.onglet.selected {
	z-index: 6;
	cursor: auto;
	pointer-events: none;
	transform: translateY(-0em);
	transition-duration: 0s;
}

.onglet-content-wrapper {
	display: flex;
	width: 100%;
	border-radius: 0em 2em 2em 2em;
	padding: 1em;
	overflow: hidden;
	border:0.5em solid;
	z-index: 3;
	max-height: 100%;
	box-shadow: 0em 0em 0.5em 0.5em #00000022;
}
.onglet-content {
	overflow-y: auto;
	padding: 1em;
	width: 100%;
}


#avertissement {
	display: none;
}

.EMC #avertissement {
	display: block;
}


@media (width < 1200px) {
  .matiere, .matiere-title {
	--matiere-spacing: 12em;
  }
  #toile-moyenne {
  	--size: 17em;
  }
	.onglet-wrapper {
		padding-top: 0em;
		padding-right: 1em;
		padding-left: 1em;
	}

	.onglet {
		text-align: center;
		padding-right: 0.2em;
		padding-left: 0.2em;
	}

	#exercices span {
		display: none;
	}
	#exercices:after {
		content: ' Exos';
	}
	#statistiques span {
		display: none;
	}
	#statistiques:after {
		content: ' Stats';
	}
	#historique span {
		display: none;
	}
	#historique:after {
		content: ' Notes';
	}
	h1 {
		margin-top: 3em !important;
	}
	h1.global {
		position: static;
	}
	h1.global.vodka {
		position: absolute;
	}
}




@media (width > 2000px) {
  .matiere, .matiere-title {
	--matiere-spacing: 15em;
  }
  body {
  	font-size: 1.4em !important;
  }
}

